.hero {
    background-color: #EDA559;
    /* padding: 1rem 2rem; */
    margin-top: 1.5rem;
    height: 25rem;
    overflow: hidden;
}

.content {
    margin: 1.5rem 0;
    overflow: hidden;
}

.item .card {
    height: 15rem;
    overflow: hidden;
    border: none;
}
.item .card img{
    object-fit: fill;
}

.header-items{
    background-color:#EDA559 ;
    color: white;
} 
.header-items a{
    color: white;
} 

.fa-star{
    color: #fcd600;
}