@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
    font-family: "Cabin", sans-serif;
}

body{
    background-color: #2e2e2e;
}

#content-main{
    margin: 2rem 12rem;
}

header{
    background-color: #B6331D;
}

.navbar{
    background-color: #B6331D;
    margin: 0rem 10rem;
    padding: 1rem 2rem;
}

.navbar a img{
    height: 100px;
    width: 100px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

footer{
    background-color: #B6331D;
    height: 10rem;
}

.footer{
    font-family: "Bungee", sans-serif;
    color: white;
    font-size: 2rem;
}

footer ul li{
    list-style: none;
}
footer ul li a{
    color: black;
    font-size: 1.2rem;
}

.fa-star{
    color: #fcd600;
}