.unrezised {
    resize: none;
}

.breadcrumb {
    color: white;
    --bs-breadcrumb-divider-color: #ffff;
    --bs-breadcrumb-item-active-color: #ffff;
}

.game_card {
    width: auto;
    background-color: #f0f8ff3a;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;

}

.joki_items_edit .game_card {
    background-color: #383838;
    border: #0000001a solid 1px;
}

.joki_items_edit .game_card_name {
    color: aliceblue;
}

.game_card.selected {
    outline: 2px solid #b6341d57;
    box-shadow: 1px 1px 10px 2px #b6341db2
}

.game_card_img {
    height: 10rem;
    width: 100%;
}

.game_card_name {
    color: aliceblue;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    /* Mencegah teks membungkus ke baris berikutnya */
    overflow: hidden;
    /* Sembunyikan teks yang melebihi lebar elemen */
    text-overflow: ellipsis;
}

.data_game_warp {
    background-color: #666363;
    /* height: 37.5rem; */
    width: 100%;
    box-shadow: inset 1px 1px 10px 2px #0000003b;
}

.data_game_warp .header .title {
    color: var(--yellow);
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

table.table_coupon {
    width: 100%;
    text-align: left;
}

table.table_coupon td,
table.table_coupon th {
    font-family: "Cabin", sans-serif;
    padding: 1rem;
}

table.table_coupon tbody td {
    background-color: #EEEEEE;
    font-size: 1rem;
    /* border-bottom: 1px solid #c7c7c7; */
}

table.table_coupon tbody tr {
    border-bottom: 1px solid #c7c7c7;
}

table.table_coupon thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(0deg, #b91b00 0%, #b6331d 35%, #f05b41 100%);
    background: -webkit-linear-gradient(0deg, #b91b00 0%, #b6331d 35%, rgba(240, 91, 65, 1) 100%);
    background: linear-gradient(0deg, #b91b00 0%, #b6331d 35%, #f05b41 100%);
    border-bottom: 1px solid #8b8b8b;
}

table.table_coupon thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

.table_coupon thead th:first-child {
    border-top-left-radius: 10px;
}

.table_coupon thead th:last-child {
    border-top-right-radius: 10px;
}

.table_coupon tbody tr:last-child {
    border: none !important;
}

.table_coupon tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table_coupon tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.game_desc_in_modal {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid #0000002a 1px;
}


.info_game {
   margin-bottom: 1rem;
}

.button_grp{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.button_game {
    background-color: #0d6efd;
    border: none;
    color: aliceblue;
    min-width: 5rem;
    border-radius: 5px;
    padding: 0.5rem;
}
.button_game:disabled{
    opacity: 0.5;
}
.button_game.not{
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545;
}

#button_edit{
    font-weight:500;
    cursor: pointer;
}

.no_game {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_preview_edit_game .image_input_container {
    position: relative;
    height: auto;
    width: 30rem;
    border: #0000002a dashed 1px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image_preview_edit_game .image_input_container.showing {
    border: none;
}

.image_preview_edit_game #image_input_preview {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.add_new_game {
    width: 70vw;
}