@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --red: #B6331D;
    --yellow: #fcd600;
    --yellow-hover: #ddbc03;
    --black: #2e2e2e;
}

* {
    font-family: "Cabin", sans-serif;
}

.link{
    cursor: pointer;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
}

h1 {
    margin: 0;
}

.sidebar {
    width: 20%;
    background-color: var(--red);
}

.content {
    padding: 2rem;
    width: 80%;
    overflow: auto;
}

.sidebar-header {
    font-family: "Bungee", sans-serif;
    color: var(--yellow);
    text-align: left;
    margin-left: auto;
    padding: 2rem;
    font-size: 2rem;
}

.navigation {
    margin: 0;
    padding: 1rem;
}

.navigation .navigation_item {
    list-style: none;
    margin-bottom: 0.5rem;
}

.navigation li .sidebar_item{
    border-radius: 10px;
    /* border: white 1px solid; */
    display: inline-block;
    width: 100%;
    padding: 1rem;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

.navigation li .sidebar_item:hover,
.collapse_ .collapse_item a:hover {
    background-color: #ffffff38;
}

.navigation li .sidebar_item.active {
    background-color: aliceblue !important;
    border-radius: 10px;
    color: var(--red);
}
.navigation li .sidebar_item.showing_collapse {
    background-color: #f0f8ff38;
}

/*  */

.collapse_{
    padding: 0;
}
.collapse_ .collapse_item{
    list-style: none;
}
.collapse_ .collapse_item a{
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
}

.sidebar_item .fa-solid.fa-angle-right{
    transition: transform 0.3s ease;
}

.sidebar_item .fa-solid.fa-angle-right.rotated_down{
    transform: rotate(90deg);
}

.icon {
    min-width: 2rem;
}

.logout {
    padding: 1rem 2rem;
}

.logout a {
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Cabin", sans-serif;
}

.content-header {
    width: 100%;
    margin-bottom: 1rem;
    color: aliceblue;
}

h3.title {
    text-transform: uppercase;
}


.title_header {
    margin-bottom: 1rem;
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--yellow);
}

/* MODAL */
.modal_{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 3;
    opacity: 0;
    transition: all 0.5s;
}
/* 
.modal_ .modal_top{
    align-items: baseline;
} */

.modal_.modal_active{
    opacity: 1;
    background-color: rgba(8, 8, 8, 0.493);
}
.modal_.modal_active .modal_container{
    top: 0;
}

.modal_container{
    position: relative;
    top: -50px;
    background-color: #ffffff;
    min-width: 50vw;
    border-radius: 1em;
    border: 0.1em solid #00000038;
    transition: all 0.5s;
}

.modal_header{
    border-bottom: 0.1em solid #00000038 ;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.modal_header .btn_{
    background-color: transparent;
    border: none;
}

.modal_body{
    padding: 1rem;
}

