.testi-warp {
    border: #EDA559 solid 1px;
}

.testi-title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-client {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

p.text-testi {
    line-height: 1.5;
    max-height: calc(1.5em * 2);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.img{
    width: 100%;
    border: 1px solid black;
}