{% extends 'dashboard/template.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/items.css') }}">
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="row">
        <div class="col">
            <h3 class="title">Items</h3>
        </div>
    </div>
</div>
<div class="joki_game_warp mb-5">
    <div class="slideshow_header">
        <div class="title_header">Joki Game</div>
    </div>

    <div class="list_game mb-4">
        <div class="row">
            <div class="col-auto">
                <div class="game_card rounded">
                    <img src="https://images.crazygames.com/games/genshin-impact/cover-1602669395924.png" alt=""
                        class="game_card_img rounded-top">
                    <div class="game_card_name p-2">Genshin Impact</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data_game_warp rounded-3 p-3">
        <div class="header mb-3">
            <div class="title mb-3">List Game</div>
            <div class="row">
                <div class="col">
                        <button type="button" name="" id="" class="btn btn-primary">
                            Filter
                        </button>
                </div>
                <div class="col-auto">
                    <div class="btn btn-primary btn-sm">asdasdsa</div>
                </div>
            </div>
        </div>
        <div class="">
            <table class="table_coupon">
                <thead>
                    <tr>
                        <th>Kode Promo</th>
                        <th>Diskon</th>
                        <th>Tanggal berakhir</th>
                        <th>Jumlah Penggunaan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_2</td>
                        <td>cell2_2</td>
                        <td>cell3_2</td>
                        <td>cell4_2</td>
                        <td>cell5_2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="joki_game_warp">
    <div class="slideshow_header">
        <div class="title_header">Top up Game</div>
    </div>

    <div class="list_game mb-4">
        <div class="row">
            <div class="col-auto">
                <div class="game_card rounded">
                    <img src="https://images.crazygames.com/games/genshin-impact/cover-1602669395924.png" alt=""
                        class="game_card_img rounded-top">
                    <div class="game_card_name p-2">Genshin Impact</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data_game_warp rounded-3 p-3">
        <div class="header mb-3">
            <div class="title mb-3">List Game</div>
            <div class="row">
                <div class="col">
                        <button type="button" name="" id="" class="btn btn-primary">
                            Filter
                        </button>
                </div>
                <div class="col-auto">
                    <div class="btn btn-primary btn-sm">asdasdsa</div>
                </div>
            </div>
        </div>
        <div class="">
            <table class="table_coupon">
                <thead>
                    <tr>
                        <th>Kode Promo</th>
                        <th>Diskon</th>
                        <th>Tanggal berakhir</th>
                        <th>Jumlah Penggunaan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_1</td>
                        <td>cell2_1</td>
                        <td>cell3_1</td>
                        <td>cell4_1</td>
                        <td>cell5_1</td>
                    </tr>
                    <tr>
                        <td>cell1_2</td>
                        <td>cell2_2</td>
                        <td>cell3_2</td>
                        <td>cell4_2</td>
                        <td>cell5_2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}